* {
  --background: #e6e6e5;
  --inset-bg: whitesmoke;
  --main-text: #292929;
  --endpoint-text: royalblue;
  --example-text: darkslategray;
  --link-text: #1616ad;

  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  * {
    --background: #292929;
    --main-text: #e6e6e5;
    --inset-bg: rgb(65, 65, 65);
    --endpoint-text: skyblue;
    --example-text: whitesmoke;
    --link-text: lightblue;
  }
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
  color: var(--main-text);
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

header,
footer {
  padding: 1rem;
}

header,
footer {
  text-align: center;
}

main {
  width: fit-content;
  background-color: var(--inset-bg);
  border-radius: 10px;
  padding: 2rem;
  max-width: 80vw;
}

li {
  margin-bottom: 2rem;
}

a:link,
a:visited {
  color: var(--link-text);
}

.example-url {
  color: var(--example-text);
}

.endpoint {
  color: var(--endpoint-text);
}

#output-wrapper {
  overflow-y: scroll;
  max-height: 500px;
}
