* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

body {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

header,
footer {
  padding: 1rem;
}

header,
footer {
  text-align: center;
}

main {
  width: fit-content;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 2rem;
  max-width: 80vw;
}

li {
  margin-bottom: 2rem;
}

.example-url {
  color: darkslategray;
}

.endpoint {
  color: royalblue;
}

#output-wrapper {
  overflow-y: scroll;
  max-height: 500px;
}
